/*MISE EN PLACE DU HEADER 07/03*/
.app-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 80px;
    /*background-color: yellow;*/
}
.app-bar img {
    width: 381.75%;/*61.089656829833984px;  4.24%;*/
    height: 19px;
}

.app-bar-nav {
    display:flex;
    justify-content: space-around;
    gap: 30px;
}

.app-bar a{
    display: flex;
    justify-content: center;
    align-items: center;   
}
/*HEADER TERMINE 07/03*/

/*Main Container 07/03*/
/*BLOC DE RECHERCHE ET FILTRES */
.Research-section {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    gap: 20px;
    background-color: yellow;
}

/*titre*/
.Search-section-title {
    display: flex;
    flex-direction: column;
   /* line-height: 0%;*/
}

/*Barre de Recherche*/
.search-bar {
    display: flex;
    align-items: center;
}

/*image*/
.search-bar img {
    height: 50px;
    width: 50px;
}

/*input*/
.search-bar input {
    width: 227px;
    height: 42px;
    color: black;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
}

/*button*/
.search-bar button {
    width: 132px;
    height: 49px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-width: 1px;
    background-color: #0065FC;
    color: white;
}

/*Filtre*/
.Filter-bar {
    display: flex;
    flex-direction: column;
    background-color: green; 
    align-items: flex-start;
    width: fit-content;
}

.filter-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: auto;
    gap: 30px;
}

/*divers filtres*/
.Filtre1234 {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
    height: 30px;
    max-height: 50px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 19px;
    padding-right: 19px;
    border-radius: 25px;
    /* background-color: white; */
    border: 2px solid rgba(217, 217, 217, 1);
    white-space: nowrap;
    gap: 2%;
}

.Filter-bar a:hover{
    color: var(--main-color);
    border-top: 2px solid var(--main-color);
    background-color: red;
}

.search-icon{
    display: none;
}
/*Info complementaire concernant la Recherche*/
.search-information {
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-weight: 400;
    font-size: 16px;
    align-items: center;
}

/*image sur l'icon d'information*/
.search-information img {
    width: 24px;
    height: 24px;
    border-width: 1px;
}

/*CODAGE IMPOSEE PAR L'EXERCICE  - PAS TOUCHEE A CE STADE POUR L'INSTANT  -  "PARTIE DEJA COMMENCEE PAR LE COLLEGUE DE TRAVAIL"      */

/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}
:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}
.fa-solid {
    color: var(--main-color);
}
body {
    margin: 0;
    display: flex;
    justify-content: center;
}
.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 35px;
}
/*MAIN GAP INTERVENTION EDILSON*/
.main {
    gap: 30px;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    height: auto;
}

a {
    color: inherit;
    text-decoration: none;
}

/*CONCERNE LE BLOC 1/3 A DROITE INTITULEE POPULAIRE */
.section-title {     /* C'est les memes propriétés de design qui est utilisé pour le titre des 3 gros blocs principales du Body */
    margin: 0;
    font-size: 22px;
    display: flex;
}
.phrase-Accroche-Research-section {
    padding: 0;
    margin-top: 6.9px;
}
h3{
    font-size: 18px;
}
.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}
/****** Premier gros Bloc du body avec deux encadrés :  Hebergements     ET     Hebergements And Populaires ***********/

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}
/****** Populaires ***********/
.populaires {
    width: 32%;
}
.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    flex-direction: row;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}
.card img{
    object-fit: cover;
}
/****** Hebergements ***********/
.hebergements {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}
.card2 {
    background-color: yellow;
    border-radius: 20px;
}
.card2 img{ /*Volonté de charger toutes les propriétés associés à l'image dans cette partie pour distinguer de la section "populaire" afin de constater que le resultat reste le meme. Y a t il un meilleur que l'autre?*/
    object-fit: cover;
    height: 50%;
    width: 97.7%;
    display: flex;
    justify-content: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: 3px solid #FFFFFF;
}
.card2 .card-content{
    margin-left: 5%;
}

.hebergements .Par-ligne-de-3-hebergements {/*COMMENT EST REPARTI LE CONTENU DE CARD2 DANS HEBERGEMENTS*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    height: 55%;
}
.Par-ligne-de-3-hebergements a {/*COMMENT EST REPARTI LE CONTENU DE CARD2 DANS HEBERGEMENTS*/
    width: 31%;
    height: 230px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.hebergements .proposition-des-6-hebergements {/*COMMENT EST REPARTI LE CONTENU DE CARD2 DANS HEBERGEMENTS*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}

/****** Activities_in-town ***********/
.Activities-in-town {
    display: flex;
    flex-direction: column;
    background-color: green;
    border-radius: 20px;
    height: auto;
    gap: 30px;
    padding: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
.proposition-des-4-Activités {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.card3{
    background-color: white;
    border-radius: 20px;
    width: 297.5px;
    height: 439px;
}
.card3 img {
    object-fit: cover;
    height: 86.56%;
    width: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.card3 .card-title{
    /*text-align:left;*/
    padding-left: 19px;
    height: 13.44%;
    width: 100%;
    
}
.proposition-des-4-Activités a {
    display: flex;
    flex-direction: row;
    width: 23%;
    height: 40%;
    gap: 30px;

}

/****** footer ***********/
.bas-de-page {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #F2F2F2;
    width: auto;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .app-bar-nav a {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }
    .hebergements {
        width: 100%;
    }
    .populaires {
        width: 100%;
        margin-top: 50px;
    }
    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .populaires-cards a {
        width: 30%;
    }
    .populaires-cards .card-title {
        font-size: 14px;
    }
    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
/* CONCERNE LA PARTIE ACTIVITIES IN TOWN */
    .proposition-des-4-Activités .card3{
        width: 100%;
        height: 194px;
    }

    .bas-de-page {
        width: 100%;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {  /*MODE MOBILE A EVITER DE GARDER LE CURSEUR */
    
    
  /* Header */

    .app-bar {
        display: flex;
        flex-direction: column;
        height: 115px;
        }

    .app-bar-nav a {
        width: 50%;
        justify-content: center;
    }
    .app-bar-nav a:hover {
        border-top: none;
        border-bottom: 2px solid var(--main-color);
    }
    .app-bar img {
        width: 61.089656829833984px;
        height: 19px;
    }

    /* ... */
    .populaires-cards {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .populaires-cards img {
        display: flex;
        flex-direction: column;
    }
    .bas-de-page {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: #F2F2F2;
    }
    .Filter-bar {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: auto;
        align-items: flex-start;
    }
    .Research-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .Research-section a {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .Research-section .Filter-bar{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .search-bar button {
        display: none;
        width: 17px;
    }
    .search-icon {
        display: block;
        background-color: #0065FC;
        color: #ffff;
        border-radius: 15px;
        padding: 15px;
    }
    .populaires-cards a {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: auto;
    }
    .hebergements .proposition-des-6-hebergements {/*COMMENT EST REPARTI LE CONTENU DE CARD2 DANS HEBERGEMENTS*/
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 30px;
        height: auto;
    }
    .hebergements .Par-ligne-de-3-hebergements {/*COMMENT EST REPARTI LE CONTENU DE CARD2 DANS HEBERGEMENTS*/
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
        gap: 30px;
        width: auto;
        height: auto;
    }
    .hebergements a {/*COMMENT EST REPARTI LE CONTENU DE CARD2 DANS HEBERGEMENTS*/
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 30px;
        width: auto;
        height: 335px;
    }
    .proposition-des-4-Activités {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        gap: 30px;
    }
    .proposition-des-4-Activités a {
        width: auto;
        min-width: 251px;
    }
    .card3 img{
    width: 100%;
    }
}